// colors

lightPending = #feefb3;
darkPending = #9f6000;

lightSuccess = #dff2bf;
darkSuccess = #4f8a10;

lightError = #ffbaba;
darkError = #d8000c;

* {
	box-sizing: border-box;
}

body {
	background: white;
	color: #333;
	font-family: sans-serif;
	margin: 0 auto;
	width: 60%;
}

button {
	background: #ddd;
	border: 1px solid #999;
	cursor: pointer;
	padding: 0.5em;
}

button:hover {
	background: #ccc;
}

button:disabled {
	color: #999;
	cursor: not-allowed;
}

textarea {
	border: 1px solid #666;
	display: block;
	height: 4em;
	width: 100%;
}

.options {
  margin-bottom: 1em;
}

.source > span {
  margin 0 1em;
}

.steps {
	list-style: none;
	padding: 0;
}

.step {
	margin: 1em 0;
}

.step:hover {
	background: #eee;
}

.step-arrows {
  display: flex;
}

.step-arrow {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
	width: 50%;
}

.step-remove {
	float: right;
}

.step-title {
	color: #666;
	text-align: right;
}

.step-cbs {
	display: flex;
}

.step-cb {
	width: 50%;
}

.step-catch .step-cb {
	margin-left: 50%;
}

.pending {
  background: lightPending;
  color: darkPending;
}

.fulfill,
.fulfilled,
.on-fulfilled,
.add-then1 {
	color: darkSuccess;
}

.reject,
.rejected,
.on-rejected,
.add-catch {
	color: darkError;
}

/* buttons */

.fulfill,
.add-then1 {
	width: 50%;
}

.add-then2 {
	width: 100%;
}

.reject,
.add-catch {
	width: 50%;
}
